.NumPage {
    color: #61dafb;
    cursor: pointer;
    text-align: center;
    margin-bottom: .5rem;
}

.SelectedPage {
    color: white;
    font-weight: bold;
}

.PageBtn {
    background-color: #30353e;
    color: white;
    border-radius: .3rem;
    width: 5rem;
    margin-right: .3rem;
}