/* .formControl.error input,
.formControl.error textarea {
    border: solid coral .1rem;
    border-radius: .3rem;
}

.formControl.error span {
    color: coral;
}

.formSummaryError {
    border: solid coral .1rem;
    border-radius: .3rem;
    color: coral;
    max-width: 10rem;
    padding: .3rem;
} */
