.Header {
    grid-area: Header;
    padding-left: 1rem;
    background-color: #30353e;
    color: white;
}

.HeaderLogo {
    height: 3.5rem;
}

.HeaderLink {
    color: #61dafb;
    text-decoration: none;
}

.LoginBlock {
    float: right;
    margin-top: .5rem;
    margin-right: 5rem;
    color: #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
    .HeaderLogo {
        animation: HeaderLogoSpin infinite 20s linear;
    }
}

@keyframes HeaderLogoSpin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
