.App {
    background-color: #282c34;
    display: grid;
    grid-template-areas:
    'Header Header Header Header Header'
    'XXX Navbar Content Content YYY'
    'ZZZ ZZZ ZZZ ZZZ ZZZ';
    grid-template-rows: 3.5rem 15fr .5fr;
    grid-template-columns: 3fr 1.2fr 4fr 4fr 3fr;
    grid-gap: 0.1rem;
    min-height: 100vh;
}

.Content {
    grid-area: Content;
    border-radius: .5rem;
    padding-top: 1rem;
    padding-left: 1rem;
    background-color: #30353e;
    color: white;
}